@charset "UTF-8";

//============================
//*	$SETTINGS
//	Preprocessor variables and methods
//
@import "../globalStyles/settings/global";
//@import "../globalStyles/settings/typography";
@import "../globalStyles/settings/spacing";
//@import "../globalStyles/settings/colours";
@import "../globalStyles/settings/mq";
@import "../globalStyles/settings/zindex";
//@import "../globalStyles/settings/animation";

//============================
//*	$TOOLS
//	Mixins and functions
//
//@import "../globalStyles/tools/functions";
@import "../globalStyles/tools/font_size";
///@import "../globalStyles/tools/zindex";
@import "../globalStyles/tools/mq";
//@import "../globalStyles/tools/position";
@import "../globalStyles/tools/ratio";
@import "../globalStyles/tools/object-fit";


//============================
//*	$ELEMENTS
//	Single HTML element selectors without classes
//
//@import "../globalStyles/elements/page";
//@import "../globalStyles/elements/type";
//@import "../globalStyles/elements/images";


//============================
//*	$OBJECTS
//  Classes for page structure typically following the OOCSS methodology
//  The first layer in which we find class-level specificity
//
//@import "../globalStyles/objects/flex";
@import "../globalStyles/objects/container";
//@import "../globalStyles/objects/row";
//@import "../globalStyles/objects/grid";
//@import "../globalStyles/objects/media";
//@import "../globalStyles/objects/flex-media";
//@import "../globalStyles/objects/img";
//@import "../globalStyles/objects/main";

//============================
//*	$TYPOGRAPHY
//  Classes for the display and control of your typography.
//  These elements sit loosely between objects and components and in turn can be overridden on a piece of UI
//
//@import "../globalStyles/typography/heading";
//@import "../globalStyles/typography/copy";


//============================
//  $UTILITIES
//	utilities classes in accordance with DRY mentality. Eliminates the need to create specific classes to perform simple tasks
//  NOTE: Use sparingly
//
//@import "../globalStyles/utilities/util";



/* FONTS import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


:root {
  --primary: #000;
  --secondary: #fff;
  --tertiary: goldenrod; 
  --quaternary: #FCF9EE; /*background*/

  --danger: #ff3d3d;
  --error: #b42c2c;
  --success: #090;
  --notice: #ec921f;
  --disabled: #dcdddf;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Barlow Semi Condensed', sans-serif;
  --font-tertiary: "Abril Fatface", serif;
  --font-quaternary: "Pacifico", serif;

  --size-micro:   1.0rem;
  --size-milli:   1.2rem;
  --size-centi:   1.4rem;
  --size-zeta :   1.8rem;
  --size-epsilon: 2.2rem;
  --size-delta:   2.6rem;
  --size-gamma:   3.1rem;
  --size-beta:    3.7rem;
  --size-alpha:   6.0rem;
}

//SCROLLBAR
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px grey;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
}

::selection {
  background: rgba(0, 194, 189, 0.6);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: white;
}

body {
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  color: var(--primary);
  font-size: var(--size-zeta);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  padding: 15px;
}

a {
  color: var(--primary);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

text {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 14px;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}

p > a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 400;
}

h2, h3, h4, h5 {
  font-family: var(--font-tertiary);
  text-align: center;
  margin-bottom: $global-spacing;
}

h1 {
  font-family: var(--font-quaternary);
  text-transform: lowercase;
}

h2 {
  font-size: var(--size-alpha);
  line-height: 1.4;
  @media (max-width: 768px) {
    font-size: var(--size-beta);
  }
}

h3 {
  font-size: var(--size-gamma);
  @media (max-width: 768px) {
    font-size: var(--size-delta);
  }
}

h4 {
  font-size: var(--size-delta);
  @media (max-width: 768px) {
    font-size: var(--size-epsilon);
  }
}

h5 {
  font-size: var(--size-epsilon);
}

nav {
  font-family: var(--font-secondary);
}

text {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 14px;
}

pre {
  background: lightGrey;
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: lightgrey;
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--tertiary);
}



/* Utility Classes */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}



/* Layout */

.section {
  width: 100%;
  padding: 5rem 0;
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }

}

 
/* BUTTONS */

.c-btn {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  padding: 10px 16px 10px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
  border: 2px solid var(--primary);
  background-color: #fff;
  text-decoration: none;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
  transition: all .15s ease;
  cursor: pointer;

  &:hover, &:focus {
    background-color: var(--primary);
    color: var(--secondary);
  }

  &__wrapper {
    text-align: center;
    margin: 20px 0 40px;
  }
}

.c-btn[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}














.recharts-wrapper {
  margin: auto;
}

img {
  max-width: 100%;
}

//NAV
/*.navbar-brand .navbar-item.logo h1 {
  font-family: $font-quaternary;
  padding: 0 1rem;
}*/





.u-text--center {
  text-align: center;
}

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}