.BlogGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.BlogFilters {
    background: var(--quaternary);
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 10px;


    .FilterGroupTitle {
        font-size: var(--size-zeta);
        font-family: var(--font-secondary);
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .FilterGroup{
        min-width: calc( 100% / 6 );
        padding-left: 10px;
    }
}