///*----------------------------------*\
//  #TYPOGRAPHY SETTINGS
//\*----------------------------------*/
//
//  Set the Typography scales for your site inc. Font Sizes/Weights/Styles
//  Uses Modular Scale as defined in settings/global
//  The defined Modular Scale calculates your font sizes based on your $base-font-size and $global-scale-ratio
//  e.g.
//  $global-scale-ratio: 1.33;
//  $size-alpha: round(50 * 1.33) = 66.5 | 65px | 6.5rem
//
//  The Sizes are calculated on the previous size defined in the hierarchy
//  e.g. $size-beta will be passed in to determine the outcome of $size-alpha
//  These values can of course be overridden;
//  e.g.
//  $size-alpha: _fs($size-beta) ...... could also be: $size-alpha: 50;
//
//  Ref: https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd
//
//\*----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,700&display=swap');


$font-primary: 'Montserrat', sans-serif;
$font-secondary: "Barlow Semi Condensed", sans-serif;
$font-tertiary: "Abril Fatface", serif;
$font-quaternary: "Pacifico", serif;

// Base Sizes
$base-font-size: 18;
$base-line-height: $global-scale-ratio; // see settings/global

// In Ascending Order to adhere to SASS scope / cascade
$size-micro: 10;
$size-milli: 12;
$size-centi: 14;

$size-zeta: $base-font-size; // 18px / 1.8rem
$size-epsilon: _fs($size-zeta); // 22px / 2.2rem
$size-delta: _fs($size-epsilon); // 26px / 2.6rem
$size-gamma: _fs($size-delta); // 31px / 3.1rem
$size-beta: _fs($size-gamma); // 37px / 3.7rem
$size-alpha: _fs($size-beta); // 44px / 4.4rem

// Do some checks to ensure correct values are being passed
@each $_font-globals in $base-font-size $base-line-height {
    @if (type-of($_font-globals) == number) {
        @if (unitless($_font-globals) == false) {
            @error "`#{$_spacing-unit}` needs to be unitless.";
        }
    } @else {
        @error "`#{$_font-globals}` needs to be a number.";
    }
}
